@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

#usuarios-container {
    width: 100%;
    min-width: 1100px;
    padding-top: 2rem;
}

.navbar {
    width: 100%;
    height: 85px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
}

.logo img {
    width: 75px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.navbar nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: 0.3s;
    padding: 0.9rem;
    border-radius: 20px;
}

.navbar nav ul li a:hover {
    background-color: #627df565;
}

.perfil-inicial {
    width: 55px;
    height: 55px;
    background-color: #b6b6f8;
    color: #fff;
    font-weight: 700;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    color: #2c3e50;
    font-size: 24px;
    font-weight: 600;
}

.btn-deletar {
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 12px;
    padding: 0.4rem 0.6rem;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-deletar:hover {
    background-color: #ff4d4d;
    color: #fff;
}

.usuario-item {
    background-color: #fafafa;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 120px;
    margin: 0 auto 2rem;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    transition: all 0.3s;
}

.usuario-info,
.livro-info,
.reserva-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-badge {
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.user-badge {
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}