h1 {
    text-align: center;
    font-weight: 700;
    margin-top: 2.5rem;
    font-size: 2rem;
}


.livro-container {
    background-color: #fafafa;
    box-shadow:0 2px 50px rgba(0, 0, 0, 0.15) ;
    border-radius: 40px;
    width: 85%;
    height: 650px;
    margin: 0 auto 4rem;
    padding: 2rem 3rem;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.livro {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 90%;
}


.livro img {
    width: 230px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.descricao {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.descricao h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.descricao p {
    color: #333;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}


.botoes {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-top: 7rem;
}

/* estilo dos botões permanece */
.favoritar button, .ler button {
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 12px;
    padding: 0.6rem 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.favoritar button:hover, .ler button:hover {
    background-color: #000;
    color: #fff;
}

/* --- INFORMAÇÕES TÉCNICAS --- */

.informacoes {
    margin-top: 2rem;
    width: 100%;
}

.informacoes h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.informacoes p {
    margin-top: 0.6rem;
    font-weight: 500;
}

.informacoes span, .informacoes button {
    display: inline-block;
    border: none;
    background-color: #f0f0f8;
    color: #333;
    border-radius: 25px;
    padding: 0.3rem 0.8rem;
    font-size: 0.85rem;
    font-weight: 500;
}

.botoes {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}


.favoritar button:hover {
    background-color: #ff4d4d;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 77, 77, 0.4);
}


.ler button:hover {
    background-color: #3651c9;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(74, 103, 223, 0.4);
}