body {
    margin: 0;
    padding: 0;
    background-color: #E9F0EF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 50%;
    height: 35rem;
    border-radius: 40px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
}

input {
    width: 36vw;
    display: block;
    margin: 1.5rem auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

img {
    padding: 3rem;
    width: 10%;
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    text-align: right;
    width: 75%;
    margin: 0 auto;

}

button {
    display: block;
    margin: 2rem auto;
    padding: 0.7rem 4rem;
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    background-color:  #3763dd;
    color: #fff;
}

button:hover{
    background-color:  #89a3ecb6;
    color: #32456e;
    
}