@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    height: 85px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
}

.logo img {
    width: 75px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 6rem;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: 0.3s;
}


.perfil-inicial {
    width: 55px;
    height: 55px;
    background-color: #b6b6f8;
    color: #fff;
    font-weight: 700;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
