@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    height: 90px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.logo img {
    width: 75px;
}

.navbar ul {
    list-style: none;
    display: flex;
    /*essa parte que deixa os coisinha grudado ou espaçad*/
    gap: 25rem;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 650;
    color: #000;
}

.perfil-inicial {
    width: 55px;
    height: 55px;
    background-color: #b6b6f8;
    color: #fff;
    font-weight: 700;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 2.5rem;
}
.subtitulo-quem-somos {
  text-align: center;
  color: #666;
  font-size: 1rem;
  margin-top: 5px;
  font-style: italic;
}

.traco-azul {
    width: 400px;
    height: 2px;
    background-color: #4A67DF;
    margin: 0.5rem auto 2rem;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #4A67DF;
}

.textos {
    width: 65%;
    padding: 2rem;
    margin-top: 6.5rem;
}

.textos p{
    padding: 1rem 3rem;
}
.textos h2{
    margin-left: 2rem;
}
.texto2 {
    margin-top: 4rem;
}

.imagem-canto {
    position: absolute;
    top: 40%;
    left: 80%;
}

.imagem-canto img {
    width: 16rem;
}

.container-contato button {
    position: absolute;
    padding: 1rem 1rem;
    border-radius: 15px;
    font-weight: bold;
    background-color: #4a68df1c;
}

fieldset {
    margin-top: 6rem;
    font-size: 1.2rem;
    padding: 2rem;
    background-color: #b6b6f83e;
}

legend {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 0 1rem;
    font-weight: 650;
}

.contatos {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.contato {
    background-color: rgb(243, 243, 251);
    border: 2px solid rgb(9, 22, 81);
    border-radius: 10px;
    padding: 2rem;
    width: 300px;
    height: 400px;
    box-shadow: 0px 4px 8px rgb(9, 22, 81);
    transition: transform 0.5s;
}

a {
    text-decoration: none;
    color: rgb(9, 22, 81);
}

.contato:hover {
    transform: scale(1.2);
}

.visitar {
    display: inline-block;
    margin-top: 12rem;
    padding: 10px 35px;
    background-color: #6c63ff;
    border: 1px solid rgb(2, 2, 2);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}